body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: #1f2937;
    color: white;
    position: sticky;
    top: 0;
}

#buscador {
    width: 40%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.carritoIcono {
    position: relative;
    cursor: pointer;
    font-size: 22px;
}

#contadorCarrito {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 3px 6px;
}

.contenedorProductos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    scroll-behavior: smooth;
}

.card {
    min-width: 200px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    transition: .3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.card button {
    width: 100%;
    padding: 6px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
}

.modalContenido {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-height: 80vh;
    overflow-y: auto;
    animation: fadeIn .3s ease;
}

.carritoModal {
    width: 450px;
}

@keyframes fadeIn {
    from {opacity: 0; transform: scale(.9);}
    to {opacity: 1; transform: scale(1);}
}

.cerrar {
    float: right;
    cursor: pointer;
    font-size: 22px;
}

button {
    margin-top: 8px;
}

/* Reducir espacio vertical */

section {
  padding: 12px 20px;
}

section h2 {
  margin-bottom: 10px;
}

#promoTrack,
#topProductos {
  scroll-behavior: smooth;
  padding-bottom: 5px;
}
/* Reducir espacio vertical */

section {
  padding: 12px 20px;
}

section h3 {
  margin-bottom: 10px;
}

#promoTrack,
#topProductos {
  padding-bottom: 5px;
}

#modalPassword {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalPassword input {
  padding: 8px;
  width: 100%;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}